@import "tailwindcss";
:root {
  --color-background: #121110;
  --color-background-secondary: #1C1A18;
  --color-border: #3A2F27;
  --color-button: #E67E22;
  --color-hover: #C58940;
  --color-text: #FFFFFF;
  --color-text-sec: #B3B3B3;
}

html, body, #root {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}
body {
  font-family: system-ui, sans-serif;
}
