@import "tailwindcss";

:root {
  --color-background: #121110;
  --color-background-secondary: #1C1A18;
  --color-border: #3A2F27;
  --color-button: #E67E22;
  --color-hover: #C58940;
  --color-text: #FFFFFF;
  --color-text-sec: #B3B3B3;
}

html, body, #root {
  height: 100%;
  background-color: var(--color-background);
  font-family: 'Outfit', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}
